@CHARSET "UTF-8";
header {
    /*background-color:#3355cc;*/
    background-color:#ff8040;
    color:black;
    text-align:center;
    padding:5px;	 
    height:7%;
}
nav {
    line-height:30px;
    background-color:#ff8040;
    /*
    background-color:#aaaaff;
    height:30px;
		width:99%;
    float:left;
    padding:5px;
    */	      
}
section {
    height:63%;
    width:98%;
    float:left;
    padding:10px;
		background-color:#dddddd;
}
footer {
    background-size: 4096px;
    background-color:#ff8040;
    color:blue;
    clear:both;
    text-align:center;
    padding:5px;
    height:6%
}
body {
	width:1024px;
	height:768px;	
	font-size: 15px;
}
a {
	text-decoration : none;
}
a:link {
	color:white;
}
a:visited {
	color:white;
}
a:hover {
	background-color:#0080ff;
}
img {
    vertical-align:middle;
}
table {
	width:70%;
	border: 1px solid #bcbcbc;
	margin-left: auto; 
	margin-right: auto;
}
tr {
	text-align : center;
	height:25px;
}
th {	
	font-size: 16px;
	border: 1px solid #bcbcbc;
}
td {
	width: 80px;
	font-size: 16px;
	border: 1px solid #bcbcbc;
}
